<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>
        <property name="connection.datasource">java:/comp/env/jdbc/data_source</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="org.hibernate.type.EnumType">

        </property>
        <!-- Подключение объектов сущностей -->

        <mapping package="ua.nure.ponomarev"/>
        <mapping class="ua.nure.ponomarev.model.enity.Franchise"/>
        <mapping class="ua.nure.ponomarev.model.enity.Cinema"/>
        <mapping class="ua.nure.ponomarev.model.enity.WorkHoursOfDay"/>
        <mapping class="ua.nure.ponomarev.model.enity.User"/>
        <mapping class="ua.nure.ponomarev.model.enity.Film"/>
        <mapping class="ua.nure.ponomarev.model.enity.Hall"/>
        <mapping class="ua.nure.ponomarev.model.enity.Seance"/>
        <mapping class="ua.nure.ponomarev.model.enity.PlaceStatus"/>
    </session-factory>

</hibernate-configuration>